a,
abbr,
acronym,
address,
applet,
article,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}

article,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
* {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
:root {
  --primary: #feffe2;
  --primary-rgb: 254, 255, 226;
  --grey: #c9c9c9;
  --negative: #3a055a;
  --negative-rgb: 58, 5, 90;
  --accent: #8858b0;
  --h-accent: #d0a1ff;
  --semi-accent: #5251ae;
  --yellow: #fade41;
  --andy-yellow: #f3c74c;
  --red: #dd574e;
  --pink: #E6E6E6; 
  --blue1: #FFE17B;
  --blue: #22a1dd;
  --yellow_center_gradient: #facd03;
  --teal: #4beab4;
  --green: #6fc13c;
  --chartreusse: #b1d559;
  --orange: #ed965c;
  --orange_primary: #d34513;
  --yellor_primary: #ffdf01;
  --magenta: #FFBF5F; 
  --link: var(--negative);
  --h-link: #340a4b;
  --grad: linear-gradient(
    90deg,
    var(--yellor_primary) 0%,
    var(--yellow_center_gradient) 50%,
    var(--orange_primary) 100%
  );
  --grad_bottom: linear-gradient(
    180deg,
    var(--yellor_primary) 0%,
    var(--yellow_center_gradient) 50%,
    #FC880D 100%
  );
  --h-grad: linear-gradient(
    90deg,
    var(--magenta) 0%,
    var(--blue) 25%,
    var(--green) 100%
  );
  --alert: #e17860;
  --border: var(--negative);
  --global-width: 1760px;
  --global-p-width: 480px;
  --global-padding: 20px;
  --global-body-bg: #75d1ef;
  --global-accent-bg: #ffc3f4;
  --gutter: 10px;
  --heading: "Gill", sans-serif;
  --line-height: 1;
  --globall-line-height: 1.4;
  --reduced-line-height: 1.2;
  --body: "Gill", sans-serif;
  --h1: 15vw;
  --h2: 7.8vw;
  --h3: 9.3vw;
  --h4: 26px;
  --h5: 20px;
  --h6: 16px;
  --paragraph: 20px;
  --small: 73%;
  --rate: 0.85;
  --small-radius: 4px;
  --medium-radius: 15px;
  --large-radius: 26.5px;
  --v-small: 20px;
  --v-medium: 50px;
  --v-large: 80px;
  --t-spacer: 11.5vh;
  --btn-huge: 21px;
  --btn-large: 21px;
  --btn-small: 21px;
  --btn-tiny: 16px;
  --btn-radius: 4px;
  --btn-padding: 20.83333px 41.66667px;
  --btn-small-padding: 10.83333px 12.5px;
  --btn-large-padding: 31.25px 41.66667px;
  --btn-tiny-padding: 7.5px 11.66667px;
}

@media (min-width: 768px) {
  :root {
    --gutter: 15px;
    --paragraph: 21px;
    --v-small: 30px;
    --v-medium: 60px;
    --v-large: 80px;
    --btn-padding: 25px 50px;
    --btn-small-padding: 13px 25px;
    --btn-large-padding: 37.5px 50px;
    --btn-tiny-padding: 9px 14px;
  }
}

@media (min-width: 1024px) {
  :root {
    --gutter: 30px;
    --h1: 5.78vw;
    --h2: 2.73vw;
    --h3: 2.61vw;
    --h4: 1.81vw;
    --large-radius: 53px;
    --v-small: 30px;
    --v-medium: 60px;
    --v-large: 120px;
    --btn-huge: 3.7vw;
    --btn-small: 28px;
  }
}

@media (min-width: 1921px) {
  :root {
    --h1: 111px;
    --h2: 52px;
    --h3: 50px;
    --h4: 36px;
    --t-spacer: 200px;
    --btn-huge: 71px;
  }
}

@font-face {
  font-display: swap;
  font-family: Gill;
  font-style: normal;
  font-weight: 400;
  src: url(../media/HollaBear_Regular.ttf) format("woff2");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: 600;
  line-height: var(--reduced-line-height);
  text-transform: uppercase;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: var(--small);
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
  margin-bottom: var(--v-small);
}
h3 {
  color: var(--primary);
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}
.gradfill {
  -webkit-text-fill-color: #0000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--negative);
  background: #ff7be7;
  /* background: linear-gradient(180deg, #ff7be7 0, #f8e731); */
  background: linear-gradient(
    8.99deg,
    #ffdf01 0%,
    #facd03 28.53%,
    #d34513 106.55%
  );

  -webkit-background-clip: text;
  display: inline-flex;
  position: relative;
}
.gradfill:after {
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: #0000;
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: -0.33px 0.75px 0 var(--negative);
  top: 0;
  z-index: -1;
}
.w_full{
  width:100%;
  display:flex;
  justify-content:center;
}
.lower {
  text-transform: lowercase;
}

@media (min-width: 768px) {
  .gradfill {
    -webkit-text-stroke-width: 2px;
  }
  .gradfill:after {
    text-shadow: -1px 1.5px 0 var(--negative);
  }
}
::selection {
  background: var(--accent);
  color: var(--primary);
}
::-moz-selection {
  background: var(--accent);
  color: var(--primary);
}
button {
  all: unset;
  cursor: pointer;
}
button:hover {
  transition: all 0.3s ease-in-out;
}
.btn-group {
  display: flex;
}
.btn-group.spaceless .btn {
  margin-top: 0;
}
.btn-group .btn:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}
.btn {
  border: 2px solid var(--negative);
  border-radius: var(--btn-radius);
  box-shadow: 0 0 0 0 var(--negative);
  color: inherit;
  cursor: pointer;
  font-family: var(--heading);
  font-size: var(--btn-large);
  line-height: 1;
  overflow: hidden;
  padding: var(--btn-padding);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.btn.primary:after,
.btn.primary:before {
  border-radius: 50%;
  content: "";
  display: block;
  left: 0;
  padding-bottom: 150%;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.btn.primary.huge:after,
.btn.primary.huge:before {
  transform: translateY(18%);
}
.btn.primary:before {
  background-color: var(--magenta);
  z-index: 2;
}
.btn.primary:after {
  background-color: var(--negative);
  z-index: 1;
}
.btn.primary > span {
  position: relative;
  z-index: 3;
}
.btn.primary:hover:after,
.btn.primary:hover:before {
  transform: translateY(0) scale(2);
}
.btn.primary:hover:before {
  transition: all 0.6s ease-in-out;
}
.btn.primary:hover:after {
  transition: all 0.5s ease-in-out;
}
.btn:not(.spaceless) {
  margin-top: var(--v-medium);
}
.btn:hover {
  box-shadow: 5px 6px 0 0 var(--orange_primary);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.btn.small {
  font-size: var(--btn-small);
  padding: var(--btn-small-padding);
}
.btn.large {
  font-size: var(--btn-large);
  padding: var(--btn-large-padding);
}
.btn.huge {
  border-radius: var(--medium-radius);
  border-width: 2px;
  display: block;
  font-size: var(--btn-huge);
  width: 100%;
}
.btn.tiny {
  display: block;
  font-size: var(--btn-tiny);
  padding: var(--btn-tiny-padding);
}
.btn.primary{
  background: var(--grad_bottom); 
  color: black;
} 
.btn.primary.grad_right{
  background: var(--grad); 
}
.btn.secondary {
  background-color: var(--primary);
}
.btn.hollow {
  background-color: initial;
  color: var(--negative);
}
.btn.hollow:hover {
  background-color: rgba(var(--negative-rgb), 0.1);
}
.btn.full {
  display: block;
  width: 100%;
}
@media (min-width: 1024px) {
  .btn {
    border-width: 3px;
  }
  .btn.huge {
    border-width: 5px;
  }
  .btn.primary:after,
  .btn.primary:before {
    padding-bottom: 100%;
  }
}
[data-ico] {
  display: block;
  height: 28px;
  position: relative;
  width: 28px;
}
[data-ico]:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
[data-ico="tg"]:before {
  background-image: url(../media/tg.svg);
}
[data-ico="tg_black"]:before {
  background-image: url(../media/tg_black.svg);
}
[data-ico="tw"]:before {
  background-image: url(../media/tw.svg);
}
[data-ico="tw_black"]:before {
  background-image: url(../media/tw_black.svg);
}
[data-ico="tw_old"]:before {
  background-image: url(../media/tw_old.svg);
}
[data-ico="etherscan"]:before {
  background-image: url(../media/etherscan.svg);
}
[data-ico="instagram"]:before {
  background-image: url(../media/instagram.svg);
}
[data-ico="dextools"]:before {
  background-image: url(../media/dextools.svg);
}
[data-ico="dexscreener"]:before {
  background-image: url(../media/dexscreener.svg);
}
[data-ico="solscan"]:before {
  background-image: url(../media/solscan.svg);
}
[data-ico="add"]:before {
  background-image: url(../media/flower2.png);
}
.navicons {
  display: block;
  position: relative;
  width: 87px;
}
.big .navicons {
  width: 105.45455px;
}
.navicons:after,
.navicons:before {
  content: "";
  display: block;
}
.navicons:before {
  padding-bottom: 28.73563%;
  width: 100%;
}
.navicons:after {
  background-image: url("../media/navicons.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (min-width: 1024px) {
  .big .navicons {
    width: 174px;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--accent);
  }
}
@keyframes whitePulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary);
  }
}
@keyframes blackPulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary);
  }
}
@keyframes hollowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--primary-rgb), 0.2);
  }
}
@keyframes hollowPulseNegative {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--negative-rgb), 0.2);
  }
}
@keyframes patternbody {
  0%,
  to {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(1turn) scale(6);
  }
  to {
    transform: rotate(0deg) scale(6);
  }
}
@keyframes flower {
  0% {
    transform: rotate(1turn);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes explosion {
  0%,
  to {
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    transform: translate(-50%, -50%) scale(4) rotate(1turn);
  }
}
@media (min-width: 1024px) {
  @keyframes spinner {
    0% {
      transform: rotate(1turn) scale(2);
    }
    to {
      transform: rotate(0deg) scale(2);
    }
  }
}
@keyframes pattern {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 0 -690px;
  }
}
@keyframes glare {
  0%,
  15%,
  85%,
  to {
    opacity: 0;
    transform: scale(0.95);
  }
  25%,
  75% {
    opacity: 1;
    transform: scale(1.1);
  }
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-7.5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-2deg);
  }
  40%,
  to {
    transform: rotate(0);
  }
}
@keyframes bounce {
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-7.5%);
  }
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-3.5%);
  }
  97% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(-1.5%);
  }
  to {
    transform: translateY(0);
  }
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: var(--v-medium);
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-body-bg);
  /* color:  #FFAB03;  */

  color: var(--negative);
  display: block;
  font-family: var(--body);
  font-size: var(--paragraph);
  line-height: var(--globall-line-height);
  overflow-x: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
* {
  scrollbar-color: unset !important;
  scrollbar-width: none !important; 
}
#root {
  margin-left: auto;
  margin-right: auto;
  max-width:100%;

  overflow:hidden;
 
  display:flex;
  flex-direction:column;
  align-items:center;
}
.global_padding{
 padding: 0 var(--global-padding);
}
aside {
  z-index: -1;
}
.texture {
  /* mix-blend-mode: color-burn; */
  display: block;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;

  background: linear-gradient(
    70deg,
    #D78F05,
    #E2C602,
    #F293E6,
    #04C9CA,
    #01D8B4, 
    #F293E6,
    #81ADF0,
    #E2C602,
    #D78F05
  );
  background-size: 1400% 1400%;
  animation: gradientAnimation 70s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.texture:before {
  animation: patternbody 60s linear infinite;
  background-image: url("../media/bg_texture.svg");
  /* background-color: #ffffff; */

  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  content: "";
  display: block;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
  opacity: 0.1;
}

#root > :not(.exclude):not(.fw) {
  width: 100%;
}
.grid-x {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
}
.grid-x.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.grid-x.justify,
.justify {
  justify-content: space-between;
}
.align-center,
.grid-x.align-center {
  justify-content: center;
}
.grid-x.stretch,
.stretch {
  align-items: stretch;
}
.align-middle,
.grid-x.align-middle {
  align-items: center;
}
.grid-x > hr {
  border-color: var(--border);
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  width: 100%;
}
.grid-x > hr:first-child {
  margin-bottom: var(--v-small);
}
.grid-x > hr:last-child {
  margin-top: var(--v-small);
}
.cell-12,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8,
.cell-9 {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  width: 100%;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.self-top {
  align-self: start;
}
.self-middle {
  align-self: center;
}
.self-bottom {
  align-self: end;
}
.large-border {
  border-radius: var(--large-radius);
}
.break {
  flex-basis: 100%;
  height: 0;
}
.fw {
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  width: calc(var(--global-padding) * 2 + 100%);
}
.socials {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-items: center;
}
[data-theme] {
  padding-bottom: var(--v-medium);
  padding-top: var(--v-medium);
  position: relative;
}
[data-theme]:before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  position: absolute;
  top: 0;
  width: calc(var(--global-padding) * 2 + 100%);
  z-index: -1;
}
[data-theme="darker"]:before {
  background-color: var(--semi-accent);
}
.lbl {
  align-items: center;
  background-color: var(--yellow);
  border: 2px solid var(--negative);
  border-radius: var(--small-radius);
  color: var(--negative);
  font-size: 21px;
  line-height: 1;
  margin-bottom: var(--gutter);
  padding: 2px 10px 2px 0;
  position: relative;
}
.lbl,
.lbl img {
  display: inline-flex;
}
.lbl img {
  animation: flower 6s linear infinite;
  margin: -10px 10px -10px -10px;
  width: 48px;
}
.pattern {
  display: block;
  overflow: hidden;
  position: relative;
}
.pattern:before {
  animation: patternbody 20s linear infinite;
  background-image: url(../media/themepattern1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
}
.glare,
.glare > *,
.pattern:before {
  position: absolute;
}
.glare > :first-child {
  animation: glare 4s ease-in-out infinite;
}
.glare > :nth-child(2) {
  animation: glare 4s ease-in-out 1.5s infinite;
}
.glare > :nth-child(3) {
  animation: glare 4s ease-in-out 0.75s infinite;
}
.glare > :nth-child(4) {
  animation: glare 4s ease-in-out 2s infinite;
}
.oneliner {
  white-space: nowrap;
}
a {
  color: var(--link);
}
a:hover {
  color: var(--h-link);
}
.window {
  background-color: var(--pink);
  border: 2px solid var(--border);
  border-radius: var(--medium-radius);
  display: block;
  overflow: hidden;
}
.window.big {
  border-radius: var(--large-radius);
  border-width: 2px;
}
.window .navpan { 
  border-bottom: 2px solid var(--border);
  padding: 5px 8px;
}
.window.big .navpan {
  padding: 10px var(--gutter);
}
.window .body {
  align-items: center;
  display: flex;
  flex-flow: column;
  background: var(--grad);
}
.window .btn {
  margin-bottom: var(--gutter);
}
.socialblocks {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gutter);
  justify-content: flex-start;
}
.socblock {
  background-color: var(--blue1);
  border: 2px solid var(--border);
  border-radius: 27px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.socblock:hover {
  transform: rotate(3deg) scale(1.05);
  transition: all 0.3s ease-in-out;
}
.socblock [data-ico] {
  height: 32px;
  width: 32px;
}
.socblock [data-ico="tg"]:before {
  background-image: url(../media/tg-col.svg);
}
.socblock a {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: 16px;
  text-decoration: none;
}
.socblock figure {
  border: 2px solid var(--border);
  border-radius: 24px;
  margin: 5px;
  padding-bottom: 63.15789%;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 95px;
}
.socblock:hover figure {
  transition: all 0.3s ease-in-out;
}
.socblock:first-child {
  transform: rotate(8deg);
}
.socblock:first-child:hover {
  transform: rotate(3deg) scale(1.05);
  transition: all 0.3s ease-in-out;
}
.socblock .telegram figure {
  background: linear-gradient(45deg, #83d4fb, #ffecf6);
}
.socblock:hover .telegram figure {
  background: linear-gradient(45deg, #83d4fb, #ffecf6 75%);
}
.socblock .twitter figure {
  background: linear-gradient(45deg, #db5dff, #c4e7da);
}
.socblock:hover .twitter figure {
  background: linear-gradient(45deg, #db5dff, #c4e7da 75%);
}
.socblock figure [data-ico] {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.behind-ani > * {
  height: 100%;
  position: absolute;
  width: 100%;
}
.bwrap {
  background-color: var(--pink);
  border: 2px solid var(--border);
  border-radius: var(--medium-radius);
  padding: var(--gutter);
  position: relative;
}
.bwrap.pattern:before {
  z-index: 0;
}
.bwrap > * {
  position: relative;
  z-index: 1;
}
.text-to-observe {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity, transform 0.25s ease-in-out;
}
.text-to-observe.in-view {
  opacity: 1;
  transform: scale(1);
}
@media (max-width: 1023px) {
  .show-for-large {
    display: none;
  }
}
@media (max-width: 1024px) {
  #root {
    overflow-x: hidden;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .cell-3 {
    width: calc(25% - var(--gutter) * 2);
  }
  .cell-4 {
    width: calc(33.33333% - var(--gutter) * 2);
  }
  .cell-5 {
    width: calc(41.66667% - var(--gutter) * 2);
  }
  .cell-6 {
    width: calc(50% - var(--gutter) * 2);
  }
  .cell-7 {
    width: calc(58.33333% - var(--gutter) * 2);
  }
  .cell-8 {
    width: calc(66.66667% - var(--gutter) * 2);
  }
  .cell-9 {
    width: calc(75% - var(--gutter) * 2);
  }
  .cell-12 {
    width: calc(100% - var(--gutter) * 2);
  }
  .large-text-right {
    text-align: right;
  }
  .lbl {
    font-size: 2.3vw;
  }
  .lbl img {
    width: 62px;
  }
  .socblock {
    border-width: 3px;
  }
  .socblock [data-ico] {
    height: 42px;
    width: 42px;
  }
  .socblock figure {
    border-width: 3px;
    padding-bottom: 61.9469%;
    width: 113px;
  }
  .bwrap,
  .window.big {
    border-width: 5px;
  }
}
@media (min-width: 1441px) {
  .circle {
    height: 69px;
    width: 69px;
  }
}
@media (min-width: 1760px) {
  .fw,
  [data-theme]:before {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}
@media (min-width: 1921px) {
  .lbl {
    font-size: 44px;
  }
}
#root > :not(.spaceless):not(.exclude):not(.texture):not(#tokenomics):not(.contract_address) {
  margin-bottom: var(--v-large);
}
#root > * > .grid-x:not(:last-child):not(.spaceless) {
  margin-bottom: var(--v-medium);
}
.footer {
  color: var(--primary);
  padding-bottom: var(--v-medium);
  position: relative;
  background:#012A56 !important;
  z-index: 1;
}
.footer .marquee {
  margin-top: 0;
}
.footer a {
  color: var(--primary);
}
.footer .align-center {
  align-items: center;
  display: flex;
  flex-flow: column;
} 
.footer .socials {
  margin-bottom: calc(var(--gutter) / 2);
}
.footer:before {
  /* background: var(--grad); */
  background: #012A56;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  position: absolute;
  top: 0;
  width: calc(var(--global-padding) * 2 + 100%);
  z-index: -1;
}
.footer .info > .copy :not(:last-child) {
  margin-right: 20px;
}
.footer .info > * {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .footer .info > .copy :not(:last-child) {
    margin-right: 40px;
  }
}
@media (min-width: 1760px) {
  .footer:before {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}
.idle-screen {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.idle-screen .overlay {
  background: var(--grad);
  border: 2px solid var(--negative);
  border-radius: var(--large-radius);
  color: var(--primary);
  overflow: hidden;
  padding: var(--btn-padding);
  text-align: center;
}
.idle-screen .sl {
  font-size: var(--h4);
}
.idle-screen .overlay img {
  display: block;
}
.idle-screen .overlay h3 {
  color: var(--primary);
  line-height: 1;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .idle-screen {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .idle-screen .overlay {
    border-width: 5px;
  }
}
.logo {
  display: block;
  height: 87.72727px;
  position: relative;
  width: 181.81818px;
}
.logo:before {
  background-image: url(../media/logo.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.subnav {
  display: block; 
  overflow: hidden;
  position: relative;
}
.subnav .marquee {
  margin: -9px 0 0;
}
.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  max-width: var(--global-width);
  padding: calc(var(--gutter) / 2) var(--global-padding);
  pointer-events: none;
  position: absolute;
  top: 44px;
  width: 100%;
  z-index: 999;
}
.navigation > * {
  pointer-events: auto;
}
.navigation.sticky {
  position: fixed;
  top: 0 !important;
}
.submenu {
  background: var(--grad);
  border-bottom: 5px solid var(--negative);
  /* color:black; */
  color: var(--primary);
  padding-top: var(--v-medium);
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.6s ease-in-out;
  width: 100%;
  z-index: 999;
}
.submenu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.mitems {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--global-width);
  padding: var(--global-padding);
}
.mitems a {
  text-decoration: none;
}
.mitems > li:first-child > ul {
  display: flex;
  flex-flow: row wrap;
  font-size: 12.3vw;
  justify-content: flex-start;
  line-height: 1;
}
.nlink ul li {
  transition: all 0.2s ease-in-out;
}
.nlink ul li:hover {
  transform: scale(0.98);
  transition: all 0.3s ease-in-out;
}
.mitems .gradfill:after { 
  text-shadow: -5px 3.5px 0 black;
  transition: all 0.2s ease-in-out;
}
.mitems .gradfill:hover:after {
  text-shadow: -6px 5.5px 0 black; 
  transition: all 0.3s ease-in-out;
}
.quicklinks {
  position: relative;
  transition: all 0.2s ease-in-out; 
  display:flex;
  gap:1rem;
}
.quicklinks .socials:after,
.quicklinks .socials:before {
  border-radius: 50%;
  content: "";
  display: block;
  left: -50%;
  padding-bottom: 150%;
  position: absolute;
  top: -100%;
  transform: translateY(150%);
  transition: all 0.2s ease-in-out;
  width: 200%;
}
.quicklinks .socials:before {
  background-color: var(--magenta);
  z-index: 2;
}
.quicklinks .socials:after {
  background-color: var(--negative);
  z-index: 1;
}
.quicklinks .socials:hover {
  box-shadow: 5px 6px 0 0 var(--orange_primary);
  transition: all 0.3s ease-in-out;
}
.quicklinks .socials:hover:after,
.quicklinks .socials:hover:before {
  transform: translateY(50%);
} 
.quicklinks .socials:hover:before {
  transition: all 0.6s ease-in-out;
}
.quicklinks .socials:hover:after {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}
.quicklinks .socials { 
  background: var(--grad_bottom);
  position: relative;
  z-index: 3;
  border: 2px solid var(--negative);
  border-radius: 20px;
  box-shadow: 0 0 0 0 var(--negative);
  overflow: hidden;
  padding: 1rem;
}
.quicklinks .socials i{
  position:relative;
  z-index:9;
}
.quicklinks .socials {
  transition: all 0.2s ease-in-out;
}
.quicklinks .socials:hover {
  /* opacity: 0.9;
  transform: scale(0.87) rotate(2deg);
  transition: all 0.3s ease-in-out; */
}
[data-close] {
  background: var(--grad);
  border: 2px solid var(--border);
  border-radius: 50%;
  height: 42px;
  position: absolute;
  right: var(--global-padding);
  top: 5%;
  transition: all 0.2s ease-in-out;
  width: 42px;
}
[data-close]:hover {
  box-shadow: -5px 6px 0 0 var(--negative);
  transition: all 0.3s ease-in-out;
}
[data-close] span {
  color: var(--primary);
  display: block;
  left: 50%;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}
[data-close]:hover span {
  transform: translate(-50%, -50%) scale(0.94);
  transition: all 0.3s ease-in-out;
}
.slist {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: var(--small);
  gap: var(--global-padding);
  justify-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--global-width);
  padding: var(--v-medium) var(--global-padding) calc(var(--gutter) / 2);
}
.slist a:hover {
  text-decoration: none;
}
@media (max-width: 1023px) {
  .quicklinks .socials [data-ico] {
    height: 20px;
    width: 20px;
  }
  .mitems > li:first-child > ul > li li {
    margin-bottom: var(--gutter);
  }
  .navigation .socialblocks {
    margin-top: var(--v-small);
  }
}
@media (min-width: 1024px) {
  .logo {
    height: 107.22222px;
    width: 222.22222px;
  }
  .mitems > li:first-child > ul {
    font-size: 6.3vw;
    gap: calc(var(--gutter) * 2);
    justify-content: space-between;
  }
  .quicklinks {
    border-width: 3px;
  }
  .quicklinks:after,
  .quicklinks:before {
    padding-bottom: 100%;
  }
}
@media (min-width: 1760px) {
  .navigation {
    margin-left: calc(50vw - 880px);
    top: 53px;
  }
  .mitems > li:first-child > ul {
    font-size: 121px;
  }
  [data-close] {
    height: 64px;
    right: calc(50vw - 880px + var(--global-padding));
    top: 10%;
    width: 64px;
  }
}
.hero{
  margin-top:130px;
}
 .hero > figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.hero img {
  display: block;
}
.hero .scene {
  pointer-events: none;
  width: 100%;
  z-index: 2;
}
.hero .boxed,
.hero .scene {
  display: block;
  position: relative;
}
.hero .boxed {
  border-radius: var(--large-radius);
}
.hero .boxed:after {
  border: 2px solid var(--border);
  border-radius: inherit;
  border-top: #0000;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 100%;
  top: 0;
  z-index: 2;
}
.hero .boxed:after,
.hero .foreground {
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.hero .foreground {
  bottom: 0;
}
.hero .foreground > img {
  border-radius: 0 0 calc(var(--large-radius) - 2px)
    calc(var(--large-radius) - 2px);
  display: block;
  width: 100%;
}  

.foreground .glare {
  pointer-events: none;
  position: absolute;
}
.foreground .glare.hero1 {
  height: 7%;
  left: 60%;
  top: 22%;
  width: 3%;
}
.foreground .glare.hero1 > :first-child {
  left: 5%;
  top: 15%;
  width: 43%;
}
.foreground .glare.hero1 > :nth-child(2) {
  left: 40%;
  top: 44%;
  width: 25%;
}
.foreground .glare.hero1 > :nth-child(3) {
  left: 40%;
  top: 10%;
  width: 13%;
}
.foreground .glare.hero2 {
  height: 5%;
  left: 41.5%;
  top: 29%;
  width: 3%;
}
.foreground .glare.hero2 > :first-child {
  left: 5%;
  top: 6%;
  width: 50%;
}
.foreground .glare.hero2 > :nth-child(2) {
  left: 42%;
  top: -5%;
  width: 28%;
}
.foreground .glare.hero2 > :nth-child(3) {
  left: 74%;
  top: 23%;
  width: 20%;
}
.foreground .glare.poop {
  height: 5%;
  left: 50.5%;
  top: 58%;
  width: 3%;
}
.foreground .glare.poop > :first-child {
  left: 5%;
  top: 6%;
  width: 54%;
}
.foreground .glare.poop > :nth-child(2) {
  left: -1%;
  top: -17%;
  width: 28%;
}
.foreground .glare.poop > :nth-child(3) {
  left: 62%;
  top: -1%;
  width: 20%;
}
.foreground .glare.glass {
  height: 9%;
  left: 59.5%;
  top: 34%;
  width: 7%;
}
.foreground .glare.glass > :first-child {
  left: 5%;
  top: 6%;
  width: 52%;
}
.foreground .glare.glass > :nth-child(2) {
  left: -1%;
  top: -17%;
  width: 28%;
}
.foreground .glare.glass > :nth-child(3) {
  left: 62%;
  top: -1%;
  width: 20%;
}
.podium .glare {
  height: 20%;
  left: 13.5%;
  top: 44%;
  width: 47%;
}
.podium .glare > :first-child {
  left: -3%;
  top: 38%;
  width: 38%;
}
.podium .glare > :nth-child(2) {
  left: -10%;
  top: 8%;
  width: 22%;
}
.podium .glare > :nth-child(3) {
  left: 62%;
  top: -1%;
  width: 16%;
}
.sitetitle .glare {
  height: 29%;
  left: 67.5%;
  top: 11%;
  width: 33%;
}
.sitetitle .glare > :first-child {
  left: -3%;
  top: 29%;
  width: 28%;
}
.sitetitle .glare > :nth-child(2) {
  left: -11%;
  top: 9%;
  width: 12%;
}
.sitetitle .glare > :nth-child(3) {
  left: 15%;
  top: 15%;
  width: 8%;
}
.landscape {
  border-radius: calc(var(--large-radius) - 2px);
  pointer-events: none;
  width: 100%;
}
.ball,
.flower,
.podium,
.sun {
  display: block;
  position: absolute;
}
.podium{
  z-index:11;
}
.ball img,
.podium img {
  transition: all 0.2s ease-in-out;
}
.ball:hover,
.podium:hover {
  animation-play-state: paused;
}
.ball:hover img,
.podium:hover img {
  transform: scale(1.05) translateY(-4%);
  transition: all 0.3s ease-in-out;
}
.ball img,
.podium img {
  width: 100%;
}
.ball {
  animation: bounce 2s ease infinite;
  left: 16%;
  top: 10%;
  width: 19.4%;
  z-index: 2;
}
.podium {
  animation: wiggle 2s ease infinite;
  right: 7%;
  top: 11.5%;
  width: 19.4%;
}
.ball,
.podium,
.sun {
  pointer-events: auto;
}
.ball .alert,
.podium .alert,
.sun .alert {
  left: 0;
  top: 0;
}
.ball .alert {
  transform: translate(-40%, -25%) scale(0.5);
}
.podium .alert {
  transform: translate(-70%, 70%) scale(0.5);
}
.sun .alert {
  transform: translate(-70%, -40%) scale(0.5);
}
.ball:hover .alert,
.podium:hover .alert,
.sun:hover .alert {
  opacity: 1;
}
.ball:hover .alert {
  transform: translate(-60%, -25%) scale(1);
}
.podium:hover .alert {
  transform: translate(-90%, 70%) scale(1);
}
.sun:hover .alert {
  transform: translate(-90%, -40%) scale(1);
}
.sun {
  animation: wiggle 2s ease 1s infinite;
  right: 18%;
  top: 2.5%;
  width: 13.1%;
  z-index: -1;
}
.sun img {
  transition: all 0.2s ease-in-out;
}
.sun:hover img {
  transform: scale(0.85);
  transition: all 0.3s ease-in-out;
}
.flower {
  animation: flower 6s linear infinite;
  pointer-events: none;
  right: 67%;
  top: 73.5%;
  width: 5.7%;
}
.hero .heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: -25vh;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.hero .gradfill {
  margin-bottom: 0;
}
.hero .gradfill:after {
  text-shadow: -1px 1.5px 0 var(--negative);
}
.hero .heading .ah {
  width: 100%;
}
.hero h2 {
  font-size: 10.6vw;
}
.sitetitle {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -10%);
  width: 45%;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero .gradfill:after {
    text-shadow: -2px 2.5px 0 var(--negative);
  }
  .hero .heading {
    width: 76%;
  }
}
@media (max-width: 1023px) {
  .hero .heading {
    margin-top: -0.5vh;
  }
  .ball .alert,
  .podium .alert,
  .sun .alert {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hero .boxed:after {
    border-width: 5px;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  .landscape {
    border-radius: calc(var(--large-radius) - 5px);
  }
  .hero .foreground {
    border-radius: 0 0 calc(var(--large-radius) - 5px)
      calc(var(--large-radius) - 5px);
  }
  .hero h2 {
    font-size: 6.95vw;
  }
  .hero .gradfill:after {
    text-shadow: -4px 4.5px 0 var(--negative);
  }
}
@media (min-width: 1200px) {
  .hero h2 {
    font-size: 7vw;
  }
}
@media (min-width: 1441px) {
  .hero h2 {
    font-size: 6.65vw;
  }
}
@media (min-width: 1921px) {
  .hero h2 {
    font-size: 127px;
  }
}
#countdown ul ul {
  display: flex;
  justify-content: space-around;

  
}
#countdown > ul > li:first-child {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--negative);
  color: var(--primary);
  font-size: 12.25vw;
  line-height: 1;
  padding:0rem 10vw;
}
#countdown > ul > li:last-of-type ul {
  font-size: 125%;
  gap: 10px;
}
#countdown ul li {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  #countdown > ul > li:first-child {
    font-size: 5.33vw;
    padding:0rem 0px;
  }
}
@media (min-width: 1921px) {
  #countdown > ul > li:first-child {
    font-size: 102px;
  }
}
#about {
  position: relative;
  z-index: 1;
}
#about .txt-cnt {
  margin-bottom: var(--v-medium);
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter-wrap,
.counter-wrap > .window {
  position: relative;
  z-index: 1;
}
.counter-wrap {
  margin-bottom: var(--v-small);
  margin-top: calc(var(--v-small) + 100px);
}
.counter-wrap > * {
  width: 100%;
}
.counter {
  margin-bottom: var(--v-small);
  margin-top: var(--v-small);
  padding:0 10rem;
}
.behind-ani {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
.behind-ani,
.counter-wrap .behind-ani > * {
  height: 100%;
  width: 100%;
}
.counter-wrap .behind-ani > :first-child {
  animation: winAni1 1s ease-in-out infinite;
  left: 22%;
  top: -35%;
}
.counter-wrap .behind-ani > :nth-child(2) {
  animation: winAni1 1s ease-in-out 0.1s infinite;
  left: 19%;
  top: -30%;
}
.counter-wrap .behind-ani > :nth-child(3) {
  animation: winAni1 1s ease-in-out 0.2s infinite;
  left: 15%;
  top: -25%;
}
.counter-wrap .behind-ani > :nth-child(4) {
  animation: winAni1 1s ease-in-out 0.3s infinite;
  left: 10%;
  top: -16%;
}
@keyframes winAni1 {
  0%,
  to {
    transform: translate(0) scale(0.9);
  }
  50% {
    transform: translate(-10%, 10%);
  }
}
.table {
  border: 2px solid var(--border);
  border-radius: var(--medium-radius);
  padding-bottom: 10px;
  padding-top: 10px;
}
.table ul {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  line-height: 1;
  padding: 5px 10px;
}
.table > ul:not(:last-of-type) {
  border-bottom: 2px solid var(--border);
}
.table li:first-child {
  width: 20px;
}
.table li:not(:first-child) {
  text-align: right;
  width: 120px;
}
  

[data-ico="clipboard"] {
  margin-left: calc(var(--gutter) / 3);
}
[data-ico="clipboard"]:before {
  background-image: url(../media/clipboard.svg);
}
.clipboard {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
}
.clipboard:hover {
  text-decoration: underline;
}
.contractCopy {
  font-size: 3vw; 
  position: relative;
  z-index: 2;
  width:auto;
  color:black;
}
.btn.huge .contractCopy {
  display: flex;
  font-size: 5.4vw;
  justify-content: center;
  margin-top: 0;
}
.btn.huge .contractCopy [data-ico] {
  height: 5.4vw;
  width: 5.4vw;
}
.contractCopy .message {
  background-color: var(--accent);
  border: 1px solid var(--border);
  border-radius: var(--btn-radius);
  color: var(--primary);
  font-size: var(--btn-tiny);
  left: 50%;
  padding: var(--btn-tiny-padding);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index:11;
}
@media (max-width: 768px) {
  .clipboard .reduced {
    display: inline-block;
    /* max-width: 220px; */
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1024px) {
  .btn.huge .contractCopy {
    font-size: 3.4vw;
  }
  .btn.huge .contractCopy [data-ico] {
    height: 2.4vw;
    width: 2.4vw;
  }
}
@media (min-width: 1921px) {
  .btn.huge .contractCopy {
    font-size: 64px;
  }
  .btn.huge .contractCopy [data-ico] {
    height: 46px;
    width: 46px;
  }
}
#promo {
  padding-top: 41px;
    width:100%;

  display:flex;
  flex-direction:column;
  align-items:center; 
}
#promo .window.big {
  overflow: visible;
}
#promo .window.big .navpan {
  border-radius: calc(var(--large-radius) - 2px) calc(var(--large-radius) - 2px)
    0 0;
}

#promo .window .body {
  overflow: visible;
  position: relative;
  background: var(--grad);

  border-radius:0 0 50px 50px;
}

#promo .body .pattern {
  border-radius: 0 0 calc(var(--large-radius) - 2px)
    calc(var(--large-radius) - 2px);
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
#promo .body .grid-x {
  position: relative;
  width: 100%;
  z-index: 1;
}
#promo .body .cnt-img figure {
  margin-left: calc(var(--global-padding) * -2 - 5px);
}
#promo .body .cnt-img figure img {
  display: block;
  width: 100%;
}
#promo .cnt-img .glare {
  height: 15%;
  right: 7%;
  top: 25%;
  width: 22.5%;
}
#promo .cnt-img .glare > :first-child {
  left: 72%;
  top: 5%;
  width: 21%;
}
#promo .cnt-img .glare > :nth-child(2) {
  left: 94%;
  top: 42%;
  width: 11%;
}
#promo .cnt-img .glare > :nth-child(3) {
  left: 104%;
  top: 26%;
  width: 7%;
}
#promo .cnt-txt h2 {
  font-size: 13.3vw;
}
#promo .window-wrap {
  position: relative;
}
#promo .window-wrap > .window {
  position: relative;
  z-index: 1;
}
#promo .window-wrap .behind-ani {
  right: 0;
  bottom: 0;
  z-index: 0;
}
#promo .behind-ani > :first-child {
  animation: winAni6 1.5s ease-in-out infinite;
  right: -17.85714px;
  bottom: -100.71429px;
}
#promo .behind-ani > :nth-child(2) {
  animation: winAni7 1.5s ease-in-out 0.2s infinite;
  right: 25.71429px;
  bottom: -39.28571px;
}
#promo .cnt-txt h2 {
  text-transform: none;
}
#promo .btn.huge {
  z-index: 1;
}
@keyframes winAni6 {
  0%,
  to {
    right: 0;
    bottom: 0;
  }
  50% {
    right: -7.85714px;
    bottom: -10.71429px;
  }
}
@keyframes winAni7 {
  0%,
  to {
    right: 0;
    bottom: 0;
  }
  50% {
    right: -10.85714px;
    bottom: -10.71429px;
  }
}
@media (max-width: 1023px) {
  #promo .socialblocks {
    margin-bottom: var(--v-medium);
  }
  .syrenge div {
    transform: translateX(15vw) translateY(5.59746vh) rotate(0deg);
  }
}
@media (min-width: 1024px) {
  #promo .body .cnt-img figure {
    margin-left: calc(var(--global-padding) * -1 + var(--gutter) * -1 - 5px);
  }
  #promo .cnt-txt h2 {
    font-size: 4.9vw;
  }
  #promo .body .cnt-img {
    margin-bottom: -300px;
    pointer-events: none;
  }
  #promo .behind-ani > :first-child {
    right: -25px;
    bottom: -141px;
  }
  #promo .behind-ani > :nth-child(2) {
    right: 36px;
    bottom: -55px;
  }
  @keyframes winAni6 {
    0%,
    to {
      right: 0;
      bottom: 0;
    }
    50% {
      right: -25px;
      bottom: -41px;
    }
  }
  @keyframes winAni7 {
    0%,
    to {
      right: 0;
      bottom: 0;
    }
    50% {
      right: -25px;
      bottom: -41px;
    }
  }
  #promo .window.big .navpan {
    border-radius: calc(var(--large-radius) - 5px)
      calc(var(--large-radius) - 5px) 0 0;
  }
  #promo .body .pattern {
    border-radius: 0 0 calc(var(--large-radius) - 5px)
      calc(var(--large-radius) - 5px);
  }
}
@media (min-width: 1760px) {
  #promo .body .cnt-img figure {
    margin-left: calc(
      ((100vw - 1760px) / 2 + var(--global-padding)) * -1 + var(--gutter) * -1 -
        5px
    );
  }
}
@media (min-width: 1921px) {
  #promo .cnt-txt h2 {
    font-size: 95px;
  }
}
#roadmap {
  margin-bottom: var(--v-large);
}
.stages > :not(:last-child):not(.roadmap-phase) {
  border-bottom: 2px solid var(--negative);
  margin-bottom: var(--v-small);
  padding-bottom: var(--v-small);
}
.roadmap-phase {
  margin-bottom: var(--v-small);
}
#roadmap h3 {
  color: var(--negative);
}
#roadmap .marquee {
  border-radius: var(--small-radius);
}
#roadmap article [data-list] {
  list-style-type: disc;
  padding-left: 22px;
}
#roadmap article [data-list] li:not(:last-of-type) {
  margin-bottom: calc(var(--gutter) / 2);
}
.img-list {
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--gutter) / 2);
  justify-content: flex-start;
  margin-bottom: var(--v-small);
}
.img-list img {
  display: block;
  width: 100%;
}
.img-list li {
  border: 2px solid var(--negative);
  border-radius: var(--small-radius);
  overflow: hidden;
  position: relative;
}
.img-list li.borderless {
  border: none;
}
.img-list.i1 li {
  border-radius: var(--large-radius);
}
.img-list.i2 li {
  width: calc(50% - var(--gutter) / 2);
}
.stickyside figure {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.stickyside img {
  display: block;
  width: 90%;
}
@media (max-width: 1023px) {
  .img-list.i7 li {
    width: calc(33.33333% - var(--gutter) / 2);
  }
  .img-list.i7 li:nth-child(7) {
    display: none;
  }
}
@media (min-width: 1024px) {
  .stickyside {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .img-list.i7 li {
    width: calc(14.28571% - var(--gutter) / 2);
  }
}


 
@media (max-width: 767px) {
  .btns .btn {
    font-size: var(--btn-small);
    padding: var(--btn-small-padding);
  }
}
 
@media (min-width: 1024px) {
  .btns {
    margin-top: 0;
  } 
   
}
@media (min-width: 1921px) {
  #memer .gradfill {
    font-size: 246px;
  }
}
#tokenomics .marquee {
  margin-top: 0;
}
.coloured {
  padding-bottom: var(--v-large);
  position: relative;
} 
.coloured > * {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--global-width);
  padding: 0 var(--global-padding);
}
.coloured #generator,
.coloured #tokenomics {
  margin-bottom: var(--v-large);
} 
#tokenomics .cell-12 {
  display: flex;
  justify-content: center;
}
#tokenomics .gradient_title{ 
  position:relative;
  z-index: 1;
  
  -webkit-text-stroke: 2px black;  
  -webkit-text-fill-color: #0000;   
  background: linear-gradient(90deg, var(--yellor_primary) 0, var(--yellow_center_gradient) 50%, var(--orange_primary));
  -webkit-background-clip: text;  
}

#tokenomics h2 {
  font-size: 9vw;  
} 

#tokenomics .gradfill:after {
  text-shadow: -3px 3.5px 0 var(--negative);
} 
.tokdata {
  line-height: 1;
  text-transform: uppercase;
}
.tokdata li:not(:last-of-type) {
  margin-bottom: var(--gutter);
}
.tokdata:last-of-type {
  text-align: right;
}
.tokdata li > * {
  display: block;
}
.tokdata li span {
  font-size: var(--h2);
}
@media (min-width: 391px) {
  #tokenomics h2 {
    /* font-size: 10.2vw; */
  }
} 
@media (min-width: 1024px) { 
  #tokenomics .gradfill:after {
    text-shadow: -6px 6.5px 0 var(--negative);
  } 
} 
@media (min-width: 1921px) {
  #tokenomics h2 {
    font-size: 117px;
  }
}
#nfts {
  flex-flow: row wrap;
  padding-bottom: var(--v-large);
  position: relative;
  z-index: 2;
}
#nfts,
.slideshow {
  align-items: center;
  display: flex;
}
.slideshow {
  flex-flow: row nowrap;
  justify-items: center;
  transform: translateZ(0) translateX(12.5%);
  -webkit-transform: translateZ(0) translateX(12.5%);
}
.slideshow.neg {
  transform: translateZ(0) translateX(-12.5%);
  -webkit-transform: translateZ(0) translateX(-12.5%);
}
.slideshow figure {
  flex: none;
  margin-left: calc(var(--v-small) / 2);
  margin-right: calc(var(--v-small) / 2);
  padding-right: 20px;
  width: calc(60vw - var(--v-small));
}
.slideshow figure:nth-child(odd) div:before {
  animation: winAni2 1s ease-in-out 0.1s infinite;
  left: 20px;
  top: 20px;
}
.slideshow figure:nth-child(odd) div:after {
  animation: winAni2 1s ease-in-out infinite;
  left: 12.5px;
  top: 12.5px;
}
@keyframes winAni2 {
  0%,
  to {
    transform: translate(0);
  }
  50% {
    transform: translate(-10%, -10%) scale(0.9);
  }
}
.slideshow figure:nth-child(2n) div:before {
  animation: winAni3 1s ease-in-out 0.1s infinite;
  left: 20px;
  top: -20px;
}
.slideshow figure:nth-child(2n) div:after {
  animation: winAni3 1s ease-in-out infinite;
  left: 12.5px;
  top: -12.5px;
}
@keyframes winAni3 {
  0%,
  to {
    transform: translate(0);
  }
  50% {
    transform: translate(-10%, 10%) scale(0.9);
  }
}
.slideshow figure div {
  background-color: var(--pink);
  border: 2px solid var(--border);
  border-radius: var(--medium-radius);
  position: relative;
}
.slideshow figure img {
  border-radius: calc(var(--medium-radius) - 2px);
  display: block;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.slideshow figure:hover img {
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}
.slideshow figure div:after,
.slideshow figure div:before {
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

 
@media (min-width: 1024px) {
  .slideshow figure {
    padding-right: 50px;
    width: calc(33vw - var(--v-small));
  }
  .slideshow figure div {
    border: 5px solid var(--border);
  }
  .slideshow figure img {
    border-radius: calc(var(--medium-radius) - 5px);
  }
  .slideshow figure:nth-child(odd) div:before {
    left: 40px;
    top: 40px;
  }
  .slideshow figure:nth-child(odd) div:after {
    left: 25px;
    top: 25px;
  }
  .slideshow figure:nth-child(2n) div:before {
    left: 40px;
    top: -40px;
  }
  .slideshow figure:nth-child(2n) div:after {
    left: 25px;
    top: -25px;
  }
}
.highlights {
  margin-bottom: calc(var(--v-small) * -1);
}
.highlights .highlight {
  margin-bottom: var(--v-small);
}

.highlights .highlight section {
  margin-left: calc(54px + var(--gutter) / 2);
}

.highlights .highlight section{
  display:none;
}

.highlights button {
  align-items: center;
  display: flex;
}
.highlights .circle {
  margin-right: calc(var(--gutter) / 2);
  position: relative;
}
.highlights .highlight .circle:before {
  background-color: initial;
  border-radius: 50%;
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  width: 50%;
}
.highlights .highlight.active .circle:before {
  background-color: var(--negative);
  height: 64%;
  width: 64%;
}
.highlights .highlight:not(.active) .circle span {
  border-color: var(--primary) #0000 #0000 #0000;
  border-style: solid;
  border-width: 12px 8px 0;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.highlights .highlight.active .circle span {
  background-color: var(--primary);
  border-radius: 50%;
  display: block;
  height: 5px;
  position: absolute;
  width: 5px;
}
.highlights .highlight.active .circle span:after,
.highlights .highlight.active .circle span:before {
  background-color: inherit;
  border-radius: inherit;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.highlights .highlight.active .circle span:before {
  transform: translateX(calc(-100% - 2px));
}
.highlights .highlight.active .circle span:after {
  transform: translateX(calc(100% + 2px));
}
.highlights .highlight.active section{
  display:block;
}
#faq .grid-x{
  align-items:center;
}
#faq .circle {
  align-items: center;
  background: var(--grad);
  border: 2px solid var(--negative);
  border-radius: 50%;
  box-shadow: 0 0 0 0 var(--negative);
  display: flex;
  height: 42px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: 42px;
}
#faq .circle:hover {
  box-shadow: -5px 6px 0 0 var(--negative);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1023px) {
  #about .mtxt {
    margin-bottom: var(--v-medium);
  }
}
@media (min-width: 1024px) {
  .els .shard {
    top: -13%;
    width: 7%;
  }
  .els .glare {
    width: 6%;
  }
  #faq .circle {
    border-width: 3px;
    height: 64px;
    width: 64px;
  }
}
.marquee {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-top: var(--v-medium);
  overflow: hidden;
  position: relative;
  width: 100%;
}
.marquee.mutated {
  font-size: var(--h2);
}
.marquee.bordered { 
  background: linear-gradient(90deg, #FFDF01, #D34513) 50% 50%/100% calc(100% - 8px)
      no-repeat,
    linear-gradient(90deg,  #000,#000);
  box-sizing: border-box;
  color: var(--primary);
  font-family: var(--heading);
  padding: 20px;
  color:white
}
.marquee.bordered p span {
  color:white
}
.marquee-el {
  align-items: center;
  animation: scroll 100s linear 0s infinite;
  animation-delay: 0s;
  animation-play-state: running;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  min-width: 100%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1;
}
.marquee-right .marquee-el {
  animation-direction: normal;
}

.marquee-left .marquee-el {
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (min-width: 1024px) {
  .marquee {
    font-size: 21px;
  }
} 
 
 
[data-displace] {
  display: inline-block;
  position: relative;
}
[data-displace] span {
  color: var(--negative);
  display: block;
  width: 100%;
}
[data-displace] > span {
  overflow: hidden;
  position: relative;
}
[data-displace] > span > span {
  transition: all 0.2s ease-in-out;
}
[data-displace] > span > span:last-child {
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-120%);
}
[data-displace]:hover > span > span:first-child {
  transform: translateY(120%);
}
[data-displace]:hover > span > span:last-child {
  transform: translateY(0);
}

[data-displace] > a {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



    /* new update */  
      .about_content_container{
        width: 100%;
        position: relative;  
      }

      #about .window .body { 
        background: var(--grad);
        height: 89%; 
        border-radius:0 0 10px 10px;
        padding-bottom:1rem;
      } 

      
   .about_content_container  .content{
    width: 100%;
    height: 500px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: end;
   }

   .about_content_container  .content .about_text{
     display: flex;
     flex-direction: column;
     align-items: end;

     height: auto;
     width: 60%;
     text-align: end;

     font-size: 30px;
   }

   #about .btn.huge{
    width:700px;
    max-width:95%;
    margin:0 auto;
   }

   .about_content_container  .content img{
     width: 40vw;
     max-width:600px;
     height: auto;
     object-fit: contain;

     position: absolute;

     left: -10%;
   }

   #about .btn.primary{
    font-size: 50px;
    border-radius: 30px;
    margin-bottom:2rem;
  }

  #about .btn.hollow.primary{
    background:white;
  }

   
   @media screen and (max-width:1024px) {
     .about_content_container  .content{ 
       height: auto; 
       justify-content: center;
       flex-direction: column;
       }

       .about_content_container  .content img{
         width: 80vw; 
         position: relative;
         left: -10%; 
       }

       .about_content_container  .content .about_text{ 
         align-items: center; 
         width: 90%;
         text-align: center; 

         font-size: 4vw;
         gap: 2rem;
       }

   }

      /* tokenomics */ 
      .tokenomics{
        position: relative;
        width: 100%;
        height: 700px;
        
        margin-top: 10rem;
      }
    
      .tokenomics_title{
        position: absolute;
        left: 3rem; 
        top: 0;
        z-index: 9;
      }
    
      .shadow_text{
        position: absolute;
        z-index: 0;
        top: 10px;
        color: black;
      }
    
      .token_images{
        position: absolute;
        z-index: 1;
        width: 50%;
        max-width:900px;
        height: auto;
        
        bottom: 0;
        right: 0;
    
        object-fit: contain;
      }

      /* TEASURE */
      .cnt-txt{
        width: 90%;
       }

       .treasure .window-wrap{
        height: 400px;
        width:80%;
        max-width:1500px;

        margin:0 auto;
       }

       .treasure  .window.big{
        height: 100%;
       }

       #promo .window .body{
        height: 82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }

       #promo .btn.huge{
        width:60%;
        max-width:1400px;
        margin-top:100px; 
       }

       #promo .image{
        position: absolute;
        right: -20%;
        bottom: -20%;
  
        width: 50%;
      }
  
      #promo .image img{
        width: 600px;
        position: absolute;
        bottom: 0;
        right: 0;
  
        height: auto;
        object-fit: contain;
      }

      /* contract */ 
      .contract_address{
        width: 100%;
        height: 100px;
        margin-bottom:120px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* FAQ */
       #faq .highlights {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: end;
          padding-right: 2rem;
 
          color: white;
        }

        #faq .highlights h4{
          font-size:2.2vw; 
        }

        .cell-6.mtxt{
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .faq_image{
          position: absolute;
          max-width: 800px;
          width: 50vw;
          

          left: -12vw;
        }

    .highlights .highlight button{
      display: flex;
      justify-content: end;
      width: 100%;

      gap: 2rem;
    }

    .highlights .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px ;
      height: 70px ;
      margin-bottom: 2rem;
      overflow: hidden;
      background-color: red;

      border-radius: 20px;
      font-size: 30px;
      padding: 0;
    } 
    
    /* footer */
    .footer_logo{
      display: flex;
      align-items: center;
      justify-content: center;
      gap:1rem;
      margin-top:1.85rem;
    }

    footer .info{
      font-size: 2rem;
      margin-top:1.45rem;
     }

    .logo_text{
      position: relative;
    }
    
   .logo_text span{ 
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg, #FFD803 0%, #FB870C 100%);

    -webkit-text-fill-color: #0000;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #DB4C06;
    -webkit-background-clip: text; 

    font-size: 4rem;
   }

   .logo_text p{ 
    position: absolute;
    top: 5px;
    color: #FC8A0D;
    font-size: 4rem;
   }


    .footer_logo img{
      height: 100px;
      width: auto;
      object-fit: contain;
    }
    @media screen and (min-width:1900px) {
      .contractCopy{
        font-size: 50px;
      }
    }

    @media screen and (min-width:1500px) {
      #faq .highlights h4{
        font-size:2.2vw;
        letter-spacing:2px;
      }
    }
    @media screen and (max-width:1024px) {

      /* about */
      .counter { 
        padding:0 0rem;
      }
      /* treasure */
      .treasure .window-wrap{
        height: 300px;
        width:100%; 
       }

      #promo .cnt-txt h2{
        font-size: 8vw;
      }

      /* faq */
      .highlights .highlight button{ 
        justify-content: center;  
        gap: 2rem;
      } 
      
      #faq .highlights { 
          align-items: center;
          padding-right: 0px; 
        }

        .highlights .highlight section{
          margin-left: 0;
        }

        .faq_image{ 
          position:relative;
          max-width: 100%;
          width: 100%;

          left: auto;
        }
        
        #faq .highlights h4{
          font-size:5vw;
        }
        
    }


    @media (max-width: 600px){
      .quicklinks .socials{
        padding:.55rem;
        border-radius:10px;
      } 

      .navigation .logo{
        display:flex;
        justify-content:center;
      }
      .navigation .logo:before{
        background-image: url(../media/logo.png); 
        background-size: contain; 
        height: 100%; 
        width: 80%;
      }

      /* about */
      #about .btn.primary{
        font-size: 30px;
        border-radius: 20px;
        margin-bottom:0rem;
      }

      /* tokenomics */
      .tokenomics{ 
        height:120vw;
        margin-top: 3rem;
      }

      .shadow_text{ 
        top: 5px; 
      }

      .token_images { 
        width: 100%; 
    }

      /* treasure */
      #promo .window .body { 
        border-radius:0 0 20px 20px;
      } 
      
      #promo .image{ 
        width: 70%;
      }

      #faq .highlights h4{
        font-size:4vw;
        letter-spacing: 1px; 
      }

      #promo .btn.huge{
        width:100%; 
       }

      /* contract */
      .contract_address{ 
        height: 70px; 
        margin-bottom:20px;
      }

      /* footer */  
      .footer_logo img{
        height: 50px; 
      }

      footer .info{
        font-size: 1.35rem;
       }

      .logo_text p,
      .logo_text span{
        font-size:9vw;
      }

    }


/* animation */
.wave-container {
  position: absolute;
  width: 100%;
  height: 150px;
  overflow: hidden;

  bottom:0;
  left:0;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wave-container use {
  animation: moveWave 20s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.wave-container use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.wave-container use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.wave-container use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

@keyframes moveWave {
  0% {
      transform: translate3d(-90px, 0, 0);
  }
  100% {
      transform: translate3d(85px, 0, 0);
  }
}

.on_size{
  animation: on_size 20s linear infinite;
} 
@keyframes on_size {
  0% {
    transform: scale(1);
  }
  50% { 
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}